version: '3.8'
services:
  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    networks:
      - todo-network
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ."

networks:
  todo-network:
    name: todo-network
