name: Debug OIDC

on: [push]

jobs:
  debug:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Get ID Token
        uses: actions/github-script@v6
        with:
          script: |
            const id_token = await core.getIDToken('sts.amazonaws.com');
            const payload = id_token.split('.')[1];
            const decoded = Buffer.from(payload, 'base64').toString();
            console.log(JSON.stringify(JSON.parse(decoded), null, 2));
